.wrapper {
    border-top: solid 1px #f0f0f1;
    padding: 20px 8px 24px;
}
.title {
    color: rgba(22, 24, 35, 0.5);
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 20px;
}
.btn-login-slide-bar {
    width: 100%;
    padding: 6px 8px;
    min-width: 168px;
    min-height: 48px;
    font-weight: 700;
    font-size: 1.8rem;
}
