.wrapper {
    display: flex;
    width: 736px;
    align-items: flex-start;
    padding: 20px 0;
    border-bottom: solid 1px #e7e7e9;
}
.contain {
    margin-bottom: 20px;
    flex: 1;
}
.avatar {
    width: 56px;
    height: 56px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 12px;
    cursor: pointer;
}

// .info {
//     display: flex;
//     align-items: center;
// }
.nick-name {
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 25px;
    margin-right: 4px;
}

.name {
    font-size: 1.4rem;
    font-weight: 400;
    cursor: pointer;
}

.music {
    margin: 4px 0 12px;
}

.video-and-contain {
    display: flex;
    align-items: flex-end;

    .video-card {
        position: relative;
        &:hover {
            .controls-video-play,
            .volume-icon {
                opacity: 1;
            }
        }
    }
    .video {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 8px;
        max-height: 485px;
        max-width: 463px;
        cursor: pointer;
    }
}

.video-and-contain + .video-and-contain {
    margin: 20px 0;
}
.controls-video-play {
    opacity: 0;
    position: absolute;
    width: 40px;
    height: 40px;
    padding: 10px;
    left: 10px;
    bottom: 40px;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
    cursor: pointer;
}
.controls-volume {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: 40px;
    right: 10px;

    &.active {
        opacity: 1;

        .container {
            opacity: 0;
        }
    }

    &:hover {
        .container {
            opacity: 1;
        }
    }

    .container {
        opacity: 0;
        width: 24px;
        height: 64px;
        margin-bottom: 8px;
        cursor: initial;
        background: rgba(22, 24, 35, 0.34);
        border-radius: 32px;
    }

    input {
        -webkit-appearance: none;
        background-color: #fff;
        border-radius: 4px;
        bottom: 60px;
        height: 2px;
        position: absolute;
        right: -11px;
        -webkit-transform: rotate(-90deg);
        transform: rotate(-90deg);
        width: 46px;
        margin-bottom: 8px;
        &::-webkit-slider-thumb {
            -webkit-appearance: none;
            width: 12px;
            height: 12px;
            background-color: #fff;
            border-radius: 50%;
            cursor: pointer;
        }
    }
}

.volume-icon {
    opacity: 0;
    &:hover {
        .range-volume {
            display: block;
        }
    }
}
.action {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 20px;
    .icon {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 8px 0;
        width: 48px;
        height: 48px;
        border-radius: 50%;
        background-color: #f1f1f2;
        cursor: pointer;
    }
}
.btn-follow {
    margin-left: 30px;
    border: var(--primary) 1px solid;
    border-radius: 4px;
    color: var(--primary);
    user-select: none;
    font-weight: 600;
    font-size: 1.6rem;
    min-height: 28px;
    min-width: 88px;
    padding: 0 10px;
    &:hover {
        background-color: #fff3f5;
        border: var(--primary) 1px solid;
    }
}
